# Ignore all files
*

# Except these files types
!*.lua
!*.toc

# Also include these files
!.gitignore
!README.md
!RELEASING.md
!LICENSE
!.pkgmeta
!.github/
!.github/FUNDING.yml
!.github/workflows/
!.github/workflows/*.yml
